<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="nav nav-pills nav-justified">
        {% comment %} {% if user.is_authenticated and  user.is_staff and user.is_superuser%} {% endcomment %}
        {% if user.is_authenticated%}
        <li class="nav-item active">
          <a class="nav-link" href="/home">Home</a>
        </li>
        <span class="navbar-text">Welcome {{user.username}} | </span>
        <li class="nav-item">
          <a class="nav-link" href="/admin">Admin Center</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        <li class="nav-item">
            {% block login/signup %}{% endblock  %}
        </li>
        {% endif %} 
      </ul>
    </div>
  </nav>

  {% comment %} <ul class="navbar-nav"> {% endcomment %}
    {% comment %} {% if user.is_authenticated and  user.is_staff and user.is_superuser%} {% endcomment %}
    {% comment %} {% if user.is_authenticated%}
    <span class="navbar-text">Welcome {{user.username}} | </span>
    <li class="nav-item">
        <a class="nav-link" href="/admin">Admin Center</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
    </li>
    {% else %}
    <li class="nav-item">
        {% block login/signup %}{% endblock  %}
    </li>
    {% endif %} 
</ul> {% endcomment %}